<div class="header">
  <p>
    <% if @action == 'submit' %>
      <span class="submit">
        [<a href="<%= o_value %>">home</a>]
      </span>
      <a href="<%= o_value %>"><img src="/img/logo.gif" /></a>
      </span>
    <% else %>
      <span class="submit">
        [<a href="/submit<%= o_value %>">submit</a>]
      </span>
      <a href="<%= o_value %>")><img src="/img/logo.gif" /><%= @o ? '<span class="offensive">(offensive)</span>' : nil %></a>
    <% end %>
  </p>
</div>
